@import '../abstracts/variables';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

body, button {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}